
.button.is-primary {
    max-width: 100%;
    margin-top: 20px;
}

.product.list-image {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 128px;
    width: 128px;
  }

.paypalBuyButton {
    margin-top: 22px;
}

.paypalCart {
    display: none;
}

.box {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 30%) !important;
}